<div class="col-md-12 col-md-offset-12">
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th><center>Image</center></th>
        <th>Country</th>
        <th>State</th>
        <th>City</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @profile.firstname %></td>
        <td><%= @profile.lastname %></td>
        <td>
          <% if @profile.image.attached? %>
            <%= image_tag @profile.image ,size: "350x250"%>
          <% end %>
        </td>
        <td><%= @profile.country %></td>
        <td><%= @profile.state %></td>
        <td><%= @profile.city %></td>
        <td><%= link_to "Delete my profile", profile_path(current_user.profile), method: :delete, remote: true, :class => "button btn btn-danger" %></td>
      </tr>
    </tbody>
  </table>
</div>
<%= link_to 'Back', root_path, :class => "button btn btn-primary" %>
