<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <center><%= content_tag :div, msg, class: "alert alert-info" %></center>
    <% end %>
    <%= render 'layouts/navbar' %>
    <div class ='container-fluid'>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
